@{
    ViewBag.Title = "GioHangTrong";
    Layout = "../Home/_Layout.cshtml";
}
<style>
    h1{
        color:red;
    }
    h2{
        color:black;
    }
</style>
<h1>Đã có lỗi xảy ra </h1>
<h2>Đơn hàng bạn đang bị trống</h2>
<div class="btn btn-default">
    @Html.ActionLink("Về trang chủ", "Home", "Home")
</div>
