@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "../Home/_Layout.cshtml";
}
<h1>Cảm ơn bạn đã mua hàng của chúng tôi</h1>
<h2>Đơn hàng đã được xác nhận</h2>
<h3>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
<p>
    @Html.ActionLink("Về trang chủ", "Home", "Home")
</p>
